<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>com.user.timelapse</string>
   <key>ProgramArguments</key>
   <array><string>cd ~/go/src/github.com/peterpla/timelapse && /usr/local/bin/go run .</string></array>
   <key>RunAtLoad</key>
   <true/>
</dict>
</plist>